* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Do Hyeon', sans-serif;
}

.icon-out {
  color: #1f3b47;
}

.send-button, .follow, .delete, .edit { 
  padding: 0.5em;
  background-color: #bed6d0;
  border-radius: 0.3em;
  color: #1f3b47;
  outline: none;
  border: none;
  cursor: pointer;
}

.send-button {
  margin: 10px;
}

.name, .my-posts, .friends, .posts-friends {
  padding: 5vh;
}

h1 {
  color:#1f3b47;
}

textarea {
  border-radius: 10px;
  width: 35vh;
  height: 10vh;
}

.text-content {
  font-size: 1em;
}

.post-list-global {
  width: 100%;
  text-align-last: center; 
}